// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 2px;
 @include adaptiveValue("margin-bottom", 40, 20 );
}
// Спойлер
.spollers__item {
	@include adaptiveValue("font-size", 20, 14);
}
// Заголовок спойлера
.spollers__title {
 @include adaptiveValue("font-size", 22, 14);
 @include adaptiveValue("padding-right", 60, 20);
 @include adaptiveValue("padding-left", 60, 20);
 @include adaptiveValue("padding-top", 25, 10);
 @include adaptiveValue("padding-bottom", 25, 10);
 background-color: $accentColor;
 border-radius: rem(40);
 color: $primaryColor;
	width: 100%;
	cursor: default;
	text-align: left;
	border: 1px solid #eee;
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
   @include adaptiveValue("right", 60, 25);
			//right: 60px;
			top: 50%;
			background-color: #fff;
			height: 2px;
   @include adaptiveValue("width", 15, 10);
			//width: 15px;
			transition: transform 0.5s ease 0s;
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: rem(20);
	background-color: #fff;
}
