//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
 @include adaptiveValue("font-size", 16, 12);
	display: inline-flex;
	padding: 20px 50px;
 color: $primaryColor;
 background-color: $accentColor;
 border-radius: 50px;
 border: 1px solid transparent;
 transition: all 0.7s;
 cursor: pointer;
 &_white {
  background-color: $primaryColor;
  color: $accentColor;
  border-color: $accentColor;
  &:hover {
   color: $primaryColor;
   background-color: $accentColor;
  }
 }
	@media (any-hover: hover) {
		&:hover {
   border-color: $accentColor;
   color: $accentColor;
   background-color: $primaryColor;
		}
	}
 @media (max-width: $mobileSmall) {
  justify-content: center;
 }
	&._fw {
		width: 100%;
	}
}
