.doctors {
 // .doctors__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  @include adaptiveValue("gap", 40, 20);
  @media (max-width:$mobile) {
   display: none;
  }
 }
}
//====================================================================================
.doctors-page {
 &__slider {
  display: none;
  @media (max-width: $mobile) {
   display: block;
  }
 }
 &__buttons {
  @media (max-width: $mobileSmall) {
   top: 102% !important;
   left: 50%;
   transform: translateX(-50%);
   justify-content: center;
  }
 }
}