//====================================================================================================
.header {
 background-color: $primaryColor;
 // .header__inner
 &__inner {
  display: flex;
  @include adaptiveValue("padding-top", 40, 20);
  @media (max-width: $tablet) {
   align-items: center;
  }
 }
 // .header__logo
 &__logo {
  @include adaptiveValue("margin-right", 60, 20);
  z-index: 6;
 }
 // .header__box
 &__box {
  @media (max-width: $tablet) {
   width: 100%;
  }
 }
 // .header__bottom
 &__bottom {
  display: flex;
  padding-top: rem(20);
 }
 // .header__nav-list
 &__nav-list {
  display: flex;
  font-weight: 500;
  @include adaptiveValue("gap", 80, 40);
  @media (max-width: $mobile) {
   flex-direction: column;
   align-items: center;
   gap: rem(20);
   order: -1;
   margin-bottom: rem(40);
  }
 }
 // .header__nav-link
 &__nav-link {
  border-bottom: rem(1) solid transparent;
  transition: all 0.5s;
  &:hover {
   border-color: $mainColor;
  }
  @media (max-width: $mobile) {
   color: $primaryColor;
   &:hover {
    border-color: $primaryColor;
   }
  }
 }
 // .header__callback
 &__callback {
  font-weight: 500;
  margin-left: auto;
  transition: all 0.5s;
  border-bottom: rem(1) solid transparent;
  &:hover {
   border-color: $mainColor;
  }
  @media (max-width: $mobile) {
   color: $accentColor;
   order: -1;
   margin: 0 auto rem(60);
   &:hover {
    border-color: $accentColor;
   }
  }
 }
 
}
//====================================================================================================
.top-header {
 border-bottom: rem(1) solid rgba(15, 47, 46, 0.08);
 padding-bottom: rem(19);
 @media (max-width: $tablet) {
  border-bottom: none;
  padding-bottom: 0;
 }
 // .top-header__list
 &__list {
  display: flex;
  color: $secondaryColor;
  @include adaptiveValue("gap", 40, 20);
  @media (max-width: $tablet) {
   flex-direction: column;
   align-items: center;
   text-align: center;
  }
 }
 // .top-header__item
 &__item {
  @include adaptiveValue("font-size", 16, 12);
  padding-left: rem(35);
  position: relative;
  &::before {
   @include pseudo;
   width: rem(22);
   height: rem(22);
   left: 0;
   top: rem(-3);
  }
  // .top-header__item_location
  &_location::before {
   @include background(url("../img/icons/location.svg"));
   background-size: contain;
   width: rem(24);
   height: rem(24);
   top: rem(-7);
  }
  // .top-header__item_time
  &_time::before {
   @include background(url("../img/icons/time.svg"));
   background-size: contain;
   width: rem(18);
   height: rem(18);
   top: rem(-3);
  }
  // .top-header__item_email
  &_email::before {
   @include background(url("../img/icons/letter.svg"));
   background-size: contain;
  }
  // .top-header__item_phone
  &_phone::before {
   @include background(url("../img/icons/phone.svg"));
   background-size: contain;
  }
 }
}
//============================================================================================
.menu {
 @media (max-width: $tablet) {
  margin-left: auto;
 }
 // .menu__icon
 &__icon {
 }
 // .menu__body
 &__body {
  @media (max-width: $tablet) {
   position: fixed;
   width: 100%;
   height: 100%;
   top: -100%;
   left: 0;
   right: 0;
   bottom: 0;
   overflow: auto;
   background-color: #0F2F2E;
   padding: rem(120) rem(15) rem(50) rem(15) ;
   z-index: 4;
   transition: top 0.8s;
   .menu-open & {
    top: 0;
   }
  }
  @media (max-width: $mobile) {
   display: flex;
   flex-direction: column;
  }
 }
}
//====================================================================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $accentColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}