.application {
 // .application__inner
 &__inner {
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .application__box
 &__box {
  max-width: rem(500);
  width: 100%;
  margin-right: rem(20);
  @media (max-width: $tablet) {
   order: 1;
   margin-right: 0;
   text-align: center;
  }
 }
 // .application__title
 &__title {
  font-weight: 700;
  @include adaptiveValue("font-size", 40, 20);
  @include adaptiveValue("margin-bottom", 40, 20);
  line-height: math.div(48, 40);
  span {
   color: $accentColor;
  }
 }
 // .application__text
 &__text {
  @include adaptiveValue("font-size", 16, 12);
  @include adaptiveValue("margin-bottom", 80, 20);
  line-height: math.div( 24, 16);
 }
 // .application__links
 &__links {
  display: flex;
  @include adaptiveValue("gap", 20, 10);
  @media (max-width: $mobileSmall) {
   flex-direction: column;
  }
 }
 // .application__image
 &__image-ibg_contain {
  max-width: rem(640);
  width: 100%;
  @include adaptiveValue("height", 540, 200);
  @media (max-width: $tablet) {
   margin-bottom: rem(15);
  }
 }
}
//====================================================================================================
.services {
 @include adaptiveValue("padding-top", 100, 30);
 @include adaptiveValue("padding-bottom", 100, 30);
 text-align: center;
 // .services__top
 &__top {
  @include adaptiveValue("padding-right", 115, 0);
  margin-bottom: rem(10);
 }
 // .services__points
 &__points {
  display: flex;
  @include adaptiveValue("gap", 117, 10);
 }
 // .services__points-item
 &__points-item {
  justify-self: start;
  @include adaptiveValue("font-size", 16, 8);
  color: $secondaryColor;
  &:first-child {
   margin-right: auto;
   @include adaptiveValue("padding-left", 60, 0);
  }
 }
}
//====================================================================================================
.spollers {
 // .spollers__body
 &__body {
  @include adaptiveValue("padding-top", 20, 10);
  @include adaptiveValue("padding-bottom", 20, 10);
  @include adaptiveValue("padding-right", 60, 20);
  @include adaptiveValue("padding-left", 60, 20);
 }
 // .spollers__info
 &__info {
  display: flex;
  @include adaptiveValue("gap", 140, 50);
  @include adaptiveValue("padding-right", 170, 10);
 }
 // .spollers__list
 &__list {
  justify-self: start;
  text-align: left;
  &:first-child {
   margin-right: auto;
   text-decoration: underline;
  }
 }
 // .spollers__item 
 &__item {
  @include adaptiveValue("font-size", 16, 8);
  line-height: math.div(32, 16);
 }
}


//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================