.application {
 background-color: $primaryColor;
 border-bottom-left-radius: rem(40);
 border-bottom-right-radius: rem(40);
 // .application__inner
 &__inner {
  display: flex;
  align-items: center;
  @media (max-width: $tablet) {
   flex-direction: column;
  }
 }
 // .application__box
 &__box {
  max-width: rem(500);
  width: 100%;
  margin-right: rem(20);
  @media (max-width: $tablet) {
   order: 1;
   margin-right: 0;
   text-align: center;
  }
 }
 // .application__title
 &__title {
  font-weight: 700;
  @include adaptiveValue("font-size", 40, 20);
  @include adaptiveValue("margin-bottom", 40, 20);
  line-height: math.div(48, 40);
  span {
   color: $accentColor;
  }
 }
 // .application__text
 &__text {
  @include adaptiveValue("font-size", 16, 12);
  @include adaptiveValue("margin-bottom", 80, 20);
  line-height: math.div( 24, 16);
 }
 // .application__links
 &__links {
  display: flex;
  @include adaptiveValue("gap", 20, 10);
  @media (max-width: $mobileSmall) {
   flex-direction: column;
  }
 }
 // .application__image
 &__image-ibg_contain {
  max-width: rem(640);
  width: 100%;
  @include adaptiveValue("height", 540, 200);
  @media (max-width: $tablet) {
   margin-bottom: rem(15);
  }
 }
}
//====================================================================================================
.services {
 @include adaptiveValue("padding-top", 100, 30);
 @include adaptiveValue("padding-bottom", 100, 30);
 text-align: center;
 // .services__top
 &__top {
  @include adaptiveValue("padding-right", 115, 0);
  margin-bottom: rem(10);
 }
 // .services__points
 &__points {
  display: flex;
  @include adaptiveValue("gap", 117, 10);
 }
 // .services__points-item
 &__points-item {
  justify-self: start;
  @include adaptiveValue("font-size", 16, 8);
  color: $secondaryColor;
  &:first-child {
   margin-right: auto;
   @include adaptiveValue("padding-left", 60, 0);
  }
 }
}
//====================================================================================================
.spollers {
 // .spollers__body
 &__body {
  @include adaptiveValue("padding-top", 20, 10);
  @include adaptiveValue("padding-bottom", 20, 10);
  @include adaptiveValue("padding-right", 60, 20);
  @include adaptiveValue("padding-left", 60, 20);
 }
 // .spollers__info
 &__info {
  display: flex;
  @include adaptiveValue("gap", 140, 50);
  @include adaptiveValue("padding-right", 170, 10);
 }
 // .spollers__list
 &__list {
  justify-self: start;
  text-align: left;
  &:first-child {
   margin-right: auto;
   text-decoration: underline;
  }
 }
 // .spollers__item 
 &__item {
  @include adaptiveValue("font-size", 16, 8);
  line-height: math.div(32, 16);
 }
}
//====================================================================================================
.about {
 @include adaptiveValue("padding-bottom", 100, 30);
 // .about__container
 &__container {
 }
 // .about__inner
 &__inner {
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet) {
   margin-bottom: rem(30);
  }
 }
 // .about__image
 &__image {
  margin-right: rem(20);
  @media (max-width: $tablet) {
   max-width: rem(375);
   margin: 0 auto rem(20);
  }
 }
 // .about__content
 &__content {
  max-width: rem(660);
  width: 100%;
  @media (max-width: $tablet) {
   display: flex;
   flex-direction: column;
   max-width: 100%;
  }
 }
 // .about__subtitle
 &__subtitle {
  @include adaptiveValue("font-size", 14, 10);
  color: $secondaryColor;
  line-height: math.div(17, 14);
  margin-bottom: rem(20);
 }
 // .about__title
 &__title {
  font-weight: 700;
  @include adaptiveValue("font-size", 40, 20);
  @include adaptiveValue("margin-bottom", 40, 10);
  line-height: math.div(56, 40); 
  span {
   color: $accentColor;
  }
 }
 // .about__text
 &__text {
  @include adaptiveValue("font-size", 16, 12);
  @include adaptiveValue("margin-bottom", 40, 20);
  line-height: math.div(24, 16);
  @media (max-width: $tablet) {
   order: 2;
  }
 }
 // .about__link
 &__link {
  width: rem(190);
  @media (max-width: $tablet) {
   order: 2;
  }
  @media (max-width: $mobileSmall) {
   width: 100%;
  }
 }
 // .about__items
 &__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 260px));
  justify-content: end;
  gap: rem(40);
  margin-top: rem(-100);
  @media (max-width: $tablet) {
   margin-top: 0;
   justify-content: center;
  }
 }
 // .about__item
 &__item {
  background-color: $primaryColor;
  border-radius: rem(40);
  padding: rem(40);
  border: rem(1) solid $mainColor; 
 }
 // .about__num
 &__num {
  @include adaptiveValue("font-size", 40, 20);
  line-height: math.div(56, 40);
  color: $accentColor;
  margin-bottom: rem(10);
 }
 // .about__item-name
 &__item-name {
  @include adaptiveValue("font-size", 16, 12);
  line-height: math.div(24, 16);
 }
}
//====================================================================================================
.consultation {
 @include adaptiveValue("padding-bottom", 100, 30);
 // .consultation__inner
 &__inner {
  @include adaptiveValue("padding-left", 60, 20);
  @include adaptiveValue("padding-right", 60, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $accentColor;
  border-radius: rem(40);
  height: rem(475);
  @media (max-width: $tablet) {
   flex-direction: column;
   height: auto;
   padding-top: rem(30);
  }
 }
 // .consultation__content
 &__content {
  max-width: rem(515);
  width: 100%;
  color: $primaryColor;
  margin-right: rem(20);
  @media (max-width: $tablet) {
   max-width: 100%;
   margin-right: 0;
   text-align: center;
  }
 }
 // .consultation__title
 &__title {
  @include adaptiveValue("margin-bottom", 40, 20);
  span {
   color: $mainColor;
  }
  @media (max-width: $tablet) {
   text-align: center;
  }
 }
 // .consultation__text
 &__text {
  @include adaptiveValue("font-size", 16, 12);
  @include adaptiveValue("margin-bottom", 60, 20);
  line-height: math.div(24, 16);
  max-width: rem(462);
  width: 100%;
  @media (max-width: $tablet) {
   max-width: 100%;
  }
 }
 // .consultation__phone 
 &__phone {
  border-bottom: 1px solid $primaryColor;
 }  
 // .consultation__links
 &__links {
  display: flex;
  gap: rem(20);
  @media (max-width: $tablet) {
   justify-content: center;
  }
  @media (max-width: 530px) {
   flex-direction: column;
  }
 }
 // .consultation__link
 &__link {
  @include adaptiveValue("padding-top", 20, 12);
  @include adaptiveValue("padding-bottom", 20, 12);
  padding-left: rem(50);
  padding-right: rem(50);
  border-radius: rem(50);
  max-width: rem(230);
  width: 100%;
  justify-content: center;
  align-items: center;
  // .consultation__link_white
  &_white {
   color: $mainColor;
   border: rem(2) solid $mainColor;
  }
  // .consultation__link_black
  &_black {
   color: $accentColor;
   background-color: $mainColor;
   text-align: center;
  }
  @media (max-width: 530px) {
   max-width: 100%;
  }
 }
 //.consultation__image
 &__image {
  height: rem(618);
  margin-top: rem(34);
  @media (max-width: $tablet) {
   margin-top: rem(-54);
   margin-bottom: rem(-87);
  }
  @media (max-width: 530px) {
   width: 100%;
   height: rem(321);
   margin-top: rem(-28);
   margin-bottom: rem(-45);
  }
 }
}
//====================================================================================================
.doctors {
 @include adaptiveValue("padding-bottom", 100, 30);
 text-align: center;
 @media (max-width: $mobileSmall) {
  text-align: left;
 }
 &__container {
  position: relative;
 }
 // .doctors__title
 &__title {
 }
 // .doctors__slider
 &__slider {
  @include adaptiveValue("margin-bottom", 50, 30);
 }
 // .doctors__wrapper
 &__wrapper {
 }
 // .doctors__slide
 &__slide {
 }
 // .doctors__item
 &__item {
  @include adaptiveValue("padding", 40, 30);
  text-align: center;
  border: rem(1) solid $mainColor;
  border-radius: rem(50);
  cursor: pointer;
 }
 // .doctors__foto
 &__foto {
  margin-bottom: rem(20);
 }
 // .doctors__name
 &__name {
  font-weight: 700;
  @include adaptiveValue("font-size", 16, 12);
  line-height: math.div(24, 16);
  @include adaptiveValue("margin-bottom", 20, 10);
 }
 // .doctors__position
 &__position {
  display: block;
  @include adaptiveValue("font-size", 14, 12);
  @include adaptiveValue("margin-bottom", 30, 20);
  line-height: math.div(21, 14);
  color: $accentColor;
 }
 // .doctors__more
 &__more {
 }
 // .doctors__buttons 
 &__buttons {
  display: flex;
  @include adaptiveValue("gap", 20, 5);
  position: absolute;
  top: 0;
  right: rem(15);
  @media (max-width: 600px) {
   top: rem(-15);
  }
  @media (max-width: $mobileSmall) {
   top: 88%;
  }
 }
 // .doctors__link 
 &__link {
  transition: all 0.5s;
  &:hover {
   background-color: $accentColor;
   color: $primaryColor;
  }
 }
}

.swiper-button-prev,
.swiper-button-next {
 width: rem(60);
 height: rem(60);
 background-color: $accentColor;
 border-radius: 50%;
 position: relative;
 cursor: pointer;
 &::before {
  @include pseudo;
  @include background(url("../img/icons/arrow.svg"));
  width: rem(18);
  height: rem(15);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
}

.swiper-button-prev::before {
 transform: translate(-50%, -50%) rotate(-180deg);
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.button {
}

//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================